<!DOCTYPE html>
<html>
<head>
    <link href='assets/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Comfortaa" rel="stylesheet">
    <link href='assets/css/styles.css' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Palindrome Evaluator</title>
</head>
<body>
    <div class="container">
        <h1>Palindrome Evaluator</h1>
        <form action='/output' method='get'>
            <div class='form-group'>
                <input type='text' class='form-control' name='input' placeholder='Enter a suspected palindrome'>
            </div>
            <button class='btn btn-danger btn-lg' type='submit'>Evaluate!</button>
        </form>
    </div>
</body>
</html>
